{% extends 'systemadmin/layout/base.html' %}

{% block title %}Dashboard | Movies Management{% endblock %}

{% block content %}
<div class="mt-4">
    <h1 class="mb-3">Customer Booking History</h1>
    <p class="text-muted mb-4">List of all customer bookings</p>
    {{ booking}}

    <table class="table table-bordered table-striped table-hover align-middle">
        <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">User mail</th>
            <th scope="col">Movie</th>
            <th scope="col">Release Date</th>
            <th scope="col">Seats</th>
            <th scope="col">Booked On</th>
            <th scope="col">Payment</th>
        </tr>
        </thead>

        <tbody>
        {% for booking in bookings %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ booking.user.username }}</td>
            <td><a href="mailto:{{ booking.user.email }}">{{ booking.user.email }}</a></td>
            <td>{{ booking.movies.title }}</td>
            <td>{{ booking.movies.release_date }}</td>
            <td>
                {% for seat in booking.seats.all %}
                <span class="badge bg-primary me-1">{{ seat.seat }}</span>
                {% empty %}
                <span class="text-muted">No seats</span>
                {% endfor %}
            </td>
            <td>{{ booking.book_date|date:"Y-m-d H:i" }}</td>
            <td>
                {% if booking.paid %}
                <span class="badge bg-primary me-1">Paid</span>
                {% else %}
                <span class="badge bg-danger me-1">Unpaid</span>
                {% endif %}


            </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="text-center text-muted py-3">No bookings yet.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
